ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

body {
    text-align: center;
    background-color: mediumturquoise;
}

#marqueeStyle {
    background-color: aquamarine;
    text-decoration-color: aliceblue;
}

#video {
    height: 500px;
    width:  10050px;
}

#map {
    float: left;
}

#maap {
    height: 500px;
    width: 500px;
}